vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Mar 2003 05:46:00 -0000
vti_extenderversion:SR|5.0.2.4330
vti_author:SR|HL06\\sauwa
vti_modifiedby:SR|HL06\\sauwa
vti_timecreated:TR|19 Mar 2003 05:46:00 -0000
vti_cacheddtm:TX|19 Mar 2003 05:46:00 -0000
vti_filesize:IR|1864
vti_cachedlinkinfo:VX|S|bg1.gif S|topbg.gif S|bottombg.gif S|tabs_m_tile.gif S|tabs_m_tile2.gif S|bottombg2.gif
vti_cachedsvcrellinks:VX|NSUS|bg1.gif NSUS|topbg.gif NSUS|bottombg.gif NSUS|tabs_m_tile.gif NSUS|tabs_m_tile2.gif NSUS|bottombg2.gif
vti_lineageid:SR|{5431ABA0-E3A9-4F92-9CF9-4429043BD217}
vti_backlinkinfo:VX|
